backups/servicios_google.json
{
  "createdAt": "2025-09-10T04:33:37.191Z",
  "updatedAt": "2025-09-14T06:12:54.779Z",
  "id": "XvnvxquH1ojgelxO",
  "name": "Servicios Google",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        272,
        352
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -48,
        480
      ],
      "id": "bf2c5455-e04a-4181-9668-1b565b59fd8e",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "JZHOcXZfA4lvop7b",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "oscarbaena706@gmail.com",
          "mode": "list",
          "cachedResultName": "oscarbaena706@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        368,
        544
      ],
      "id": "42705fa6-1a15-4e66-a429-65c3c04a6c82",
      "name": "Delete",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "ZMmWRjbK1ptMtGjf",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "value": "oscarbaena706@gmail.com",
          "mode": "list",
          "cachedResultName": "oscarbaena706@gmail.com"
        },
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start_Time', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End_Time', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        272,
        544
      ],
      "id": "5a59f43f-6511-409b-8086-6732402e61ca",
      "name": "Create",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "ZMmWRjbK1ptMtGjf",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "oscarbaena706@gmail.com",
          "mode": "list",
          "cachedResultName": "oscarbaena706@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "updateFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        608,
        544
      ],
      "id": "85a3c7a4-35e5-4d53-9d30-1ff1478a5a1e",
      "name": "Update",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "ZMmWRjbK1ptMtGjf",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "oscarbaena706@gmail.com",
          "mode": "list",
          "cachedResultName": "oscarbaena706@gmail.com"
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        480,
        544
      ],
      "id": "7e2a8a49-31f2-4bf1-beb2-6cfed7c8428b",
      "name": "Get  events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "ZMmWRjbK1ptMtGjf",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}{{ $now }}{{ $workflow }} {{ $json.chatInput }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        480,
        352
      ],
      "id": "5bb94209-a5b6-4bcd-88a0-968babfb2d56",
      "name": "AI Agent Google"
    },
    {
      "parameters": {
        "task": "MDk4MzQ0NjU1Nzk1MzI4MzYwNzI6MDow",
        "title": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Title', ``, 'string') }}",
        "additionalFields": {
          "notes": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Notes', ``, 'string') }}",
          "status": "needsAction"
        }
      },
      "type": "n8n-nodes-base.googleTasksTool",
      "typeVersion": 1,
      "position": [
        112,
        704
      ],
      "id": "2d2d1cf4-3707-4864-902d-6898383cef42",
      "name": "Create a task bussines",
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "xNjUxyFK6cxDi3Tw",
          "name": "Google Tasks account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "task": "MDk4MzQ0NjU1Nzk1MzI4MzYwNzI6MDow",
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleTasksTool",
      "typeVersion": 1,
      "position": [
        256,
        704
      ],
      "id": "c7a9c581-b001-42d2-9b78-2398247e4731",
      "name": "get many task bussines",
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "xNjUxyFK6cxDi3Tw",
          "name": "Google Tasks account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "task": "MDk4MzQ0NjU1Nzk1MzI4MzYwNzI6MDow",
        "taskId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Task_ID', ``, 'string') }}",
        "updateFields": {}
      },
      "type": "n8n-nodes-base.googleTasksTool",
      "typeVersion": 1,
      "position": [
        528,
        704
      ],
      "id": "50a589a7-28c8-4a66-9c70-5014aa63f6e6",
      "name": "Update task bussines",
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "xNjUxyFK6cxDi3Tw",
          "name": "Google Tasks account"
        }
      }
    },
    {
      "parameters": {
        "task": "OGVwaUlsNUxyZDh5Ni1Bag",
        "title": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Title', ``, 'string') }}",
        "additionalFields": {
          "notes": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Notes', ``, 'string') }}",
          "status": "needsAction"
        }
      },
      "type": "n8n-nodes-base.googleTasksTool",
      "typeVersion": 1,
      "position": [
        672,
        704
      ],
      "id": "62013de7-67b9-4036-bf80-055c0bdb7b73",
      "name": "Create task University",
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "xNjUxyFK6cxDi3Tw",
          "name": "Google Tasks account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "task": "OGVwaUlsNUxyZDh5Ni1Bag",
        "taskId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Task_ID', ``, 'string') }}",
        "updateFields": {
          "notes": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Notes', ``, 'string') }}",
          "title": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Title', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleTasksTool",
      "typeVersion": 1,
      "position": [
        784,
        704
      ],
      "id": "c2c8bd28-d72e-4ae3-bd00-8bcf5c9d76f3",
      "name": "Update task University",
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "xNjUxyFK6cxDi3Tw",
          "name": "Google Tasks account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "task": "OGVwaUlsNUxyZDh5Ni1Bag",
        "taskId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Task_ID', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.googleTasksTool",
      "typeVersion": 1,
      "position": [
        928,
        704
      ],
      "id": "1c0ab42b-9dae-4e78-9113-f3e6d04b45e9",
      "name": "Delete task University",
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "xNjUxyFK6cxDi3Tw",
          "name": "Google Tasks account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "task": "MDk4MzQ0NjU1Nzk1MzI4MzYwNzI6MDow",
        "taskId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Task_ID', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.googleTasksTool",
      "typeVersion": 1,
      "position": [
        400,
        704
      ],
      "id": "54b55fd1-4d3d-438a-9f92-b922a0bf0772",
      "name": "Delete task Bussines",
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "xNjUxyFK6cxDi3Tw",
          "name": "Google Tasks account"
        }
      }
    },
    {
      "parameters": {
        "resource": "spreadsheet",
        "title": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Title', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -48,
        880
      ],
      "id": "8e8dbc37-63b2-451e-9ef8-89fdb0b47565",
      "name": "Create spreadsheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uUNAokoFwj5pZUWs",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "resource": "spreadsheet",
        "operation": "deleteSpreadsheet",
        "documentId": {
          "__rl": true,
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Document', ``, 'string') }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        112,
        880
      ],
      "id": "4870ae21-7d43-475e-a333-31c4b9dea9c6",
      "name": "Delete spreadsheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uUNAokoFwj5pZUWs",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "13-HH7UJZpdo2tBpSl2lfB3L-x-Nyo8FjGJ9My1dZusk",
          "mode": "list",
          "cachedResultName": "Aura Assistant Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13-HH7UJZpdo2tBpSl2lfB3L-x-Nyo8FjGJ9My1dZusk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1344774508,
          "mode": "list",
          "cachedResultName": "Aura",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13-HH7UJZpdo2tBpSl2lfB3L-x-Nyo8FjGJ9My1dZusk/edit#gid=1344774508"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Notas": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Notas', ``, 'string') }}",
            "ID": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('ID__using_to_match_', ``, 'string') }}",
            "Tipo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Tipo', ``, 'string') }}",
            "Titulo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Titulo', ``, 'string') }}",
            "Enlace": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Enlace', ``, 'string') }}",
            "Descripcion": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Descripcion', ``, 'string') }}",
            "Fecha de publicación": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Fecha_de_publicaci_n', ``, 'string') }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tipo",
              "displayName": "Tipo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Titulo",
              "displayName": "Titulo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Enlace",
              "displayName": "Enlace",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Notas",
              "displayName": "Notas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Descripcion",
              "displayName": "Descripcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Fecha de publicación",
              "displayName": "Fecha de publicación",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        384,
        896
      ],
      "id": "5439c33f-357e-48b1-a8b5-8aab1ac2aec6",
      "name": "Append or update row",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uUNAokoFwj5pZUWs",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "13-HH7UJZpdo2tBpSl2lfB3L-x-Nyo8FjGJ9My1dZusk",
          "mode": "list",
          "cachedResultName": "Aura Assistant Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13-HH7UJZpdo2tBpSl2lfB3L-x-Nyo8FjGJ9My1dZusk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1344774508,
          "mode": "list",
          "cachedResultName": "Aura",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13-HH7UJZpdo2tBpSl2lfB3L-x-Nyo8FjGJ9My1dZusk/edit#gid=1344774508"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Notas": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Notas', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tipo",
              "displayName": "Tipo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Titulo",
              "displayName": "Titulo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Enlace",
              "displayName": "Enlace",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Notas",
              "displayName": "Notas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Descripcion",
              "displayName": "Descripcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Fecha de publicación",
              "displayName": "Fecha de publicación",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        256,
        896
      ],
      "id": "4382f5cc-0c03-4272-b06b-361aa4a2d2d8",
      "name": "Append row",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uUNAokoFwj5pZUWs",
          "name": "Google Sheets account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "remove",
        "documentId": {
          "__rl": true,
          "value": "13-HH7UJZpdo2tBpSl2lfB3L-x-Nyo8FjGJ9My1dZusk",
          "mode": "list",
          "cachedResultName": "Asistente Personal de Oscar",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13-HH7UJZpdo2tBpSl2lfB3L-x-Nyo8FjGJ9My1dZusk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Sheet', ``, 'string') }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        528,
        896
      ],
      "id": "ee819c70-1b4c-4ad3-8276-6ca4a5f5e204",
      "name": "Delete sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uUNAokoFwj5pZUWs",
          "name": "Google Sheets account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "13-HH7UJZpdo2tBpSl2lfB3L-x-Nyo8FjGJ9My1dZusk",
          "mode": "list",
          "cachedResultName": "Aura Assistant Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13-HH7UJZpdo2tBpSl2lfB3L-x-Nyo8FjGJ9My1dZusk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1344774508,
          "mode": "list",
          "cachedResultName": "Aura",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13-HH7UJZpdo2tBpSl2lfB3L-x-Nyo8FjGJ9My1dZusk/edit#gid=1344774508"
        },
        "startIndex": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start_Row_Number', ``, 'number') }}",
        "numberToDelete": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Number_of_Rows_to_Delete', ``, 'number') }}"
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        640,
        896
      ],
      "id": "e3c6e0e7-2625-4ade-a8cb-9abe6284eabf",
      "name": "Delete rows",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uUNAokoFwj5pZUWs",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "13-HH7UJZpdo2tBpSl2lfB3L-x-Nyo8FjGJ9My1dZusk",
          "mode": "list",
          "cachedResultName": "Aura Assistant Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13-HH7UJZpdo2tBpSl2lfB3L-x-Nyo8FjGJ9My1dZusk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1344774508,
          "mode": "list",
          "cachedResultName": "Aura",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13-HH7UJZpdo2tBpSl2lfB3L-x-Nyo8FjGJ9My1dZusk/edit#gid=1344774508"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        752,
        896
      ],
      "id": "589a3fa8-cd5b-42af-9c58-88394d3216af",
      "name": "Obtener filas",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uUNAokoFwj5pZUWs",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "channel_id": "9fd99628-65aa-4456-8a12-11c6587072b1",
        "notification": "Sheet gestionado con exito"
      },
      "type": "n8n-nodes-pushinator.pushinator",
      "typeVersion": 1,
      "position": [
        1520,
        -32
      ],
      "id": "c57b1b27-9c71-40ea-aeac-adc728c73974",
      "name": "Pushinator",
      "credentials": {
        "pushinatorApi": {
          "id": "LzC8rlkm5Xkljeuc",
          "name": "Pushinator account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $execution }}{{ $workflow.id }}{{ $json.query }}{{ $workflow.name }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -48,
        640
      ],
      "id": "ffb6bfeb-a4ac-4e91-b119-948632cef40f",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "QosXzwh6g2swbqpP",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        160,
        544
      ],
      "id": "836c3fb6-a2d0-435b-bc80-9d56560dde0e",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "0RrtN5q8GEUGAkyZ",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "inputDataFieldName": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Input_Data_Field_Name', ``, 'string') }}",
        "driveId": {
          "__rl": true,
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Parent_Drive', ``, 'string') }}",
          "mode": "id"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Parent_Folder', ``, 'string') }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTool",
      "typeVersion": 3,
      "position": [
        1024,
        880
      ],
      "id": "0ad94329-e3a8-47c6-8f1c-56853c6b949c",
      "name": "Upload file in Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "BYixe6UeVelaRZnU",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('File', ``, 'string') }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTool",
      "typeVersion": 3,
      "position": [
        880,
        880
      ],
      "id": "739ebdb5-6826-42a6-bd48-fdd56470f641",
      "name": "Download file in Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "BYixe6UeVelaRZnU",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent Google",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Delete": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Google",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Google",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Google",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get  events": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Google",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent Google": {
      "main": [
        []
      ]
    },
    "Create a task bussines": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Google",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "get many task bussines": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Google",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update task bussines": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Google",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create task University": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Google",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update task University": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Google",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete task University": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Google",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create spreadsheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Google",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete spreadsheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Google",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Google",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Append row": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Google",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete sheet": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Google",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete rows": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Google",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Obtener filas": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Google",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent Google",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent Google",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Upload file in Google Drive": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Google",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Download file in Google Drive": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Google",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": "Mañana a las 8 AM: gym"
        }
      }
    ]
  },
  "versionId": "af9a8a71-96c2-4fdc-9ef9-a37e6ed23832",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-09-10T04:33:37.191Z",
      "updatedAt": "2025-09-10T04:33:37.191Z",
      "role": "workflow:owner",
      "workflowId": "XvnvxquH1ojgelxO",
      "projectId": "XjBHfNWSN1GAgqMC"
    }
  ],
  "tags": []
}